body{

    background:lightgray;

}

header{

    

}

.navbar {
    background: #69449b none repeat scroll 0 0;
}

.no-skin .nav-list > li.highlight.active::before {
    background-color: #69449b;
}


.no-skin .nav-list > li.highlight.active > a::before {
    -moz-border-left-colors: #ffd0d0;
    border-left-color: #ffd0d0;
    right: -11px;
}

.no-skin .nav-list > li.active > a {
    color: #69449b;
    font-weight: 700;
}

.breadcrumb > li > a {
    color: #69449b;
    display: inline-block;
}

.page-header h1 {
    color: #69449b;
}

.btn-info, .btn-info:focus {
    background-color: #69449b !important;
    border-color: #69449b;
}

.pagination > li.active > a, .pagination > li.active > a:hover {
    background-color: #69449b;
    border-color: #69449b;
    color: #fff;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    z-index: 2;
}

.pagination > li > a, .pager > li > a {
    background-color: #fafafa;
    border-color: #d4dfe3;
    border-radius: 0 !important;
    border-width: 1px;
    color: #69449b;
    margin: 0 -1px 0 0;
    position: relative;
    z-index: auto;
}

.ace-nav > li.light-blue > a {
    background-color: #9974cb;
}

.btn-info:hover, .btn-info:active, .open > .btn-info.dropdown-toggle {
    background-color: #20bbaf !important;
    border-color: #20bbaf;
}

.no-skin .nav-list > li:hover > a {
    background-color: #fff;
    color: #20bbaf;
}

.nav-list > li::before {
    background-color: #20bbaf;
    content: "";
    display: none;
    height: 41px;
    left: 0;
    max-width: 3px;
    overflow: hidden;
    position: absolute;
    top: -1px;
    width: 3px;
    z-index: 1;
}


.ace-nav > li.light-blue > a:hover, .ace-nav > li.light-blue > a:focus, .ace-nav > li.open.light-blue > a {
    background-color: #20bbaf;
}

.no-skin .nav-list > li.open > a {
    background-color: #fafafa;
    color: #20bbaf;
}

.no-skin .nav-list > li .submenu > li > a:hover {
    background-color: #f1f5f9;
    color: #20bbaf;
}

.dropdown-menu > li:hover > a, .dropdown-menu > li > a:focus, .dropdown-menu > li > a:active, .dropdown-menu > li.active > a, .dropdown-menu > li.active:hover > a {
    background: #20bbaf none repeat scroll 0 0;
    color: #fff;
}


.ace-nav > li {
    border-left: 1px solid #69449b;
    float: left;
    height: 45px;
    line-height: 45px;
    padding: 0;
    position: relative;
}
